body {
	margin: 0;
}
#header {
	background: #ef7c7c;
	color: white;
	font-size: 1.2em;
	height: 25px;
	text-align: center;
}

#main {
	height: 95%;
	margin: 0 auto;
	max-width: 1080px;
	text-align: center;
}

#top-menu {
	padding: 0;
}

#top-menu li {
	display: inline-block;
}

#top-menu li a {
	color: white;
	text-decoration: none;
}

#register, #login {
	text-align: center;
}